<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{/search}" method="post" th:object="${search}">
     <span class="text-success">Enter a date (dd/mm/yyyy) </span>
   <input type="text" name="dateentered"/>
   Female name  <input id="femaleName" type="checkbox" name="female" value="female">
   Male name  <input id="maleName" type="checkbox" name="male" value="male">
    <input type="submit" value="Submit"/>
</form>

<form th:action="@{/horoscope}" method="post" th:object="${horoscope}">
    <span class="text-success">Enter a date (dd/mm/yyyy) </span>
    <input type="text" name="dateentered"/>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>